html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  position: relative;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 100px;
  color: white;
  background: url("bg-pattern.png"), #7b4397;
  background: url("bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: url("bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
}


a {
  color: #fdcc52;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }
  a:hover, a:focus {
    color: #fc5a20;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: white;
    border-color: #fdcc52;
    background-color: #fc5a20;
}

.btn {
  border-radius: 300px;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
  margin-bottom: 25px;
}

.chosen-select, .chosen-container {
	color: black;
}

.heading {
	padding-top: 100px;
}

footer {
  position: absolute;
  bottom: 0;
}